<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
<link rel="shortcut icon" href='https://f1.bitsten.com/assets/images/icon_bitsten.png' />
<title>BITSTEN EXCHANGE</title>
<!-- stylesheet -->
<% include ../partials/css -%>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YMM4FW9TKS"></script>
 
</head>

<body>
    <div id="app">
        

        <div class="main-wrapper">
            <% include ../partials/navbar -%>
           
             <!-- Main Content -->
            <div class="main-content">
                <section class="section">
                    

                      <div class="section-body">
                        <%- body -%>
                      </div>
                </section>
            </div>

            <footer class="main-footer">
                <div class="footer-left">
                Bitsten Exchange
                </div>
                 
            </footer>
        </div>
    </div>

    
    <!-- script -->
    <% include ../partials/script -%>
</body>
</html>