<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
<link rel="shortcut icon" href='stisla/assets/img/logo/kind-logo.png' />
<title>BITSTEN EXCHANGE</title>
<!-- stylesheet -->
<% include ../partials/css -%>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YMM4FW9TKS"></script>
 
</head>

<body>
    <div id="app">
        

        <div class="main-wrapper">
            <% include ../partials/navbar -%>
           
             <!-- Main Content -->
            <div class="main-content">
                <section class="section">
                    

                      <div class="section-body">
                        <%- body -%>
                      </div>
                </section>
            </div>

            <footer class="main-footer">
                <div class="footer-left">
                bitsten
                </div>
                <div class="footer-right">
                bitsten
                </div>
            </footer>
        </div>
    </div>

    <div class="d-none" id="warp-loader" style="position: fixed;top: 0; left: 0; right: 0; bottom: 0;z-index: 9999;background-color: rgba(0,0,0,0.5);padding-top: 20%;">
      <div class="text-center" style="padding: 20px;background-color: aquamarine;margin: 0 auto;max-width: 400px;border-radius: 25px;">
        <span class="loader"></span>
        <h4 class="text-center mt-5">Waiting Confirmation...</h4>
        <button class="btn btn-sm btn-warning mt-2" onclick='$(this).parent().parent().hide()'>Close</button>
      </div>
    </div>
    <!-- script -->
    <% include ../partials/script -%>
</body>
</html>