<% layout('../layouts/app') -%>
  
<style>
   .table td {
    font-size: 13px;
    padding: 5px 5px ;
}

.green-bg-7:after, 
.green-bg-6:after, 
.green-bg-5:after, 
.green-bg-4:after, 
.green-bg-3:after,
 .green-bg-2:after, 
 .green-bg-1:after, 
 .green-bg:after {
    
    background:rgba(0,200,0,0.1);
     
}

.red-bg-7:after,
.red-bg-6:after,
.red-bg-5:after,
.red-bg-4:after,
.red-bg-3:after,
.red-bg-2:after,
.red-bg-1:after,
.red-bg:after {
   
  background: rgba(200,0,0,0.1);
   
}

</style>
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-md-3">
        <div class="market-pairs">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm"><i class="icon ion-md-search"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Search" aria-describedby="inputGroup-sizing-sm">
          </div>
          <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item ml-3">
              <a class="nav-link" data-toggle="pill" href="#STAR"  onclick = 'show("star")'  role="tab" aria-selected="true"><i
                  class="icon ion-md-star"></i></a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#BST" onclick = 'show("bst")' role="tab" aria-selected="true">BST</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#USDT" onclick = 'show("usdt")'  role="tab" aria-selected="false">USDT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#IDRT" onclick = 'show("idrt")'  role="tab" aria-selected="true">IDRT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#ALT" onclick = 'show("alt")'  role="tab" aria-selected="true">ALT</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active"   role="tabpanel">
              <table class="table" id='all_markets_table'>
                <thead>
                  <tr class='row'>
                    <th  class='col-5 pl-5' >Pairs</th>
                    <th   class='col-4 text-right'  >Last Price</th>
                    <th    class='col-3 text-right' >Change</th>
                  </tr>
                </thead>
                <tbody>
                  <tr id = 'load-markets' class='text-center row'>
                    <td   class='text-center col-12 pt-5 pb-5' colspan="3"><img src="http://f1.bitsten.com/assets/images/loading.gif" style="width:150px !important"></td>
                    </tr>
                </tbody>
              </table>
            </div>
            

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="main-chart">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div id="tradingview_e8053"></div>
            <script src="https://s3.tradingview.com/tv.js"></script>
            <script>
              new TradingView.widget(
                {
                  "width": "100%",
                  "height": 550,
                  "symbol": "BITSTAMP:BTCUSD",
                  "interval": "D",
                  "timezone": "Etc/UTC",
                  "theme": "Light",
                  "style": "1",
                  "locale": "en",
                  "toolbar_bg": "#f1f3f6",
                  "enable_publishing": false,
                  "withdateranges": true,
                  "hide_side_toolbar": false,
                  "allow_symbol_change": true,
                  "show_popup_button": true,
                  "popup_width": "1000",
                  "popup_height": "650",
                  "container_id": "tradingview_e8053"
                }
              );
            </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
        <div class="market-trade pt-3 pb-3">
          <ul class="nav nav-pills d-none" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#pills-trade-limit" role="tab"
                aria-selected="true">Limit</a>
            </li>
            
          
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="pills-trade-limit" role="tabpanel">
              <div class="d-flex justify-content-between">
                <div class="market-trade-buy">
                  <div class="input-group">
                    <input type="number" class="form-control" placeholder="Price">
                    <div class="input-group-append">
                      <span class="input-group-text market-name text-uppercase">---</span>
                    </div>
                  </div>
                  <div class="input-group">
                    <input type="number" class="form-control" placeholder="Amount">
                    <div class="input-group-append">
                      <span class="input-group-text coin-name text-uppercase">---</span>
                    </div>
                  </div>
                  <ul class="market-trade-list">
                    <li><a href="#!">25%</a></li>
                    <li><a href="#!">50%</a></li>
                    <li><a href="#!">75%</a></li>
                    <li><a href="#!">100%</a></li>
                  </ul>
                  <p>Spend:   <span class="market-name text-uppercase">---</span> <span>0</span> </p>
                  <p>Get:  <span class="coin-name text-uppercase">---</span> <span>0</span> </p>
                  <p>Fee:  <span class="coin-name text-uppercase">---</span> <span>0</span> </p>
                  <p>Receive:  <span class="coin-name text-uppercase">---</span> <span>0</span> </p>
                  <button class="btn buy">Buy</button>
                </div>
                <div class="market-trade-sell">
                  <div class="input-group">
                    <input type="number" class="form-control" placeholder="Price">
                    <div class="input-group-append">
                      <span class="input-group-text market-name text-uppercase">---</span>
                    </div>
                  </div>
                  <div class="input-group">
                    <input type="number" class="form-control" placeholder="Amount">
                    <div class="input-group-append">
                      <span class="input-group-text coin-name text-uppercase">---</span>
                    </div>
                  </div>
                  <ul class="market-trade-list">
                    <li><a href="#!">25%</a></li>
                    <li><a href="#!">50%</a></li>
                    <li><a href="#!">75%</a></li>
                    <li><a href="#!">100%</a></li>
                  </ul>
                  <p>Spend:  <span class="coin-name text-uppercase">---</span> <span>0</span> </p>
                  <p>Get:  <span class="market-name text-uppercase">---</span> <span>0</span> </p>
                  <p>Fee:  <span class="market-name text-uppercase">---</span> <span>0</span> </p>
                  <p>Receive:  <span class="market-name text-uppercase">---</span> <span>0</span> </p>
                  <button class="btn sell">Sell</button>
                </div>
              </div>
            </div>
            
            
            
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="order-book">
          <h2 class="heading">Order Book</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Price(<span class='market-name text-uppercase'>---</span>)</th>
                <th>Amount(<span class='coin-name text-uppercase'>---</span>)</th>
                <th>Total(<span class='market-name text-uppercase'>---</span>)</th>
              </tr>
            </thead>
            <tbody   id='book_sell'>
              <tr   class='book-loading text-center row' id='book_sell_9000000000000' style='margin-bottom:200px' >
                <td   class='text-center col-12 pt-5 pb-5' colspan="3"><img src="http://f1.bitsten.com/assets/images/loading.gif" style="width:150px !important"></td>
              </tr>
               
            </tbody>
            <tbody class="ob-heading" style='background:rgb(232, 236, 232)'>
              <tr>
                <td>
                  <span>Last Price</span>
                  <span class='last_price ob-heading-big' >--</span>
                </td>
                <td>
                  <span>USD</span>
                  <span class='last_price_usd ob-heading-big'  >--</span>
                </td>
                <td  >
                  <span>Change</span>
                  <span class='last_change ob-heading-big'  >--</span>
                   
                </td>
              </tr>
            </tbody>
            <tbody id='book_buy'>
              <tr   class='text-center row book-loading' id='book_buy_1'>
                <td   class='text-center col-12 pt-5 pb-5' colspan="3"><img src="http://f1.bitsten.com/assets/images/loading.gif" style="width:150px !important"></td>
              </tr>
               
              
            </tbody>
          </table>
        </div>
        <div class="market-history">
          <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#recent-trades" role="tab" aria-selected="true">Recent
                Trades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " data-toggle="pill" href="#market-depth" role="tab" aria-selected="false">Market
                Depth</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="recent-trades" role="tabpanel">
              <table class="table">
                <thead>
                  <tr>
                    <th>Time</th>
                    <th>Price(<span class='market-name text-uppercase'>---</span>)</th>
                    <th>Amount(<span class='coin-name text-uppercase'>---</span>)</th>
                  </tr>
                </thead>
                <tbody id='book_history'>
                  <tr   class='text-center row book-loading'>
                    <td   class='text-center col-12 pt-5 pb-5' colspan="3"><img src="http://f1.bitsten.com/assets/images/loading.gif" style="width:150px !important"></td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade " id="market-depth" role="tabpanel">
              <div class="depth-chart-container">
                <div class="depth-chart-inner">
                  <div id="lightDepthChart"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="market-news">
          <h2 class="heading">Market News</h2>
          <ul>
            <li><a href="#!">
                <strong>KCS Pay Fees Feature is Coming Soon</strong>
                To accelerate the ecosystem construction of KuCoin Share (KCS) and promote the implementation of the KCS
                application.
                <span>2019-12-04 20:22</span>
              </a></li>
            <li><a href="#!">
                <strong>KCS Pay Fees Feature is Coming Soon</strong>
                To accelerate the ecosystem construction of KuCoin Share (KCS) and promote the implementation of the KCS
                application.
                <span>2019-12-04 20:22</span>
              </a></li>
            <li><a href="#!">
                <strong>KCS Pay Fees Feature is Coming Soon</strong>
                To accelerate the ecosystem construction of KuCoin Share (KCS) and promote the implementation of the KCS
                application.
                <span>2019-12-04 20:22</span>
              </a></li>
            <li><a href="#!">
                <strong>KCS Pay Fees Feature is Coming Soon</strong>
                To accelerate the ecosystem construction of KuCoin Share (KCS) and promote the implementation of the KCS
                application.
                <span>2019-12-04 20:22</span>
              </a></li>
            <li><a href="#!">
                <strong>KCS Pay Fees Feature is Coming Soon</strong>
                To accelerate the ecosystem construction of KuCoin Share (KCS) and promote the implementation of the KCS
                application.
                <span>2019-12-04 20:22</span>
              </a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div class="market-history market-order">
          <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#open-orders" role="tab" aria-selected="true">Open
                Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#stop-orders" role="tab" aria-selected="false">Closed
                Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#order-history" role="tab" aria-selected="false">Order
                history</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#trade-history" role="tab" aria-selected="false">Balance</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="open-orders" role="tabpanel">
              <ul class="d-flex justify-content-between market-order-item">
                <li>Time</li>
                <li>All pairs</li>
                <li>All Types</li>
                <li>Buy/Sell</li>
                <li>Price</li>
                <li>Amount</li>
                <li>Executed</li>
                <li>Unexecuted</li>
              </ul>
              <span class="no-data">
                <i class="icon ion-md-document"></i>
                No data
              </span>
            </div>
            <div class="tab-pane fade" id="stop-orders" role="tabpanel">
              <ul class="d-flex justify-content-between market-order-item">
                <li>Time</li>
                <li>All pairs</li>
                <li>All Types</li>
                <li>Buy/Sell</li>
                <li>Price</li>
                <li>Amount</li>
                <li>Executed</li>
                <li>Unexecuted</li>
              </ul>
              <span class="no-data">
                <i class="icon ion-md-document"></i>
                No data
              </span>
            </div>
            <div class="tab-pane fade" id="order-history" role="tabpanel">
              <ul class="d-flex justify-content-between market-order-item">
                <li>Time</li>
                <li>All pairs</li>
                <li>All Types</li>
                <li>Buy/Sell</li>
                <li>Price</li>
                <li>Amount</li>
                <li>Executed</li>
                <li>Unexecuted</li>
              </ul>
              <span class="no-data">
                <i class="icon ion-md-document"></i>
                No data
              </span>
            </div>
            <div class="tab-pane fade" id="trade-history" role="tabpanel">
              <ul class="d-flex justify-content-between market-order-item">
                <li>Time</li>
                <li>All pairs</li>
                <li>All Types</li>
                <li>Buy/Sell</li>
                <li>Price</li>
                <li>Amount</li>
                <li>Executed</li>
                <li>Unexecuted</li>
              </ul>
              <span class="no-data">
                <i class="icon ion-md-document"></i>
                No data
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="assets/js/amcharts-core.min.js"></script>
  <script src="assets/js/amcharts.min.js"></script>
  <script src="assets/js/jquery.mCustomScrollbar.js"></script>
  <script src="assets/js/custom.js"></script>
  <script>
    /*
    $('tbody, .market-news ul').mCustomScrollbar({
      theme: 'minimal',
    });
    */
  </script>
</body>

</html>

<script>
  var SOCKET_URL = 'exchange';
</script>

