<% layout('../layouts/app') -%>



    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/vendor/style.css" rel="stylesheet">





    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="services">


            <div class="container pb-3" data-aos="fade-up">
                <div class="section-header">
                    <h3 class="section-title">Faucet List</h3>
                    <p class="text-center">
                        All active faucet is free for all bitsten users<br>
                        <b class='blink_me'>100% bonus / Claim with Hold 1000 BST at your account</b><br>
                        <b class='blink_me'>100% bonus from every referral claim </b>
                    </p>
                    <script>
                        (function blink() {
                            $('.blink_me').fadeOut(0).fadeIn(2000, blink);
                        })();
                    </script>

                </div>

                <div class="row pb-3 " style='margin-bottom:50px;min-height: 300px;'>
                    <div class='col-12 mb-3' id='bst'>
                        <div class='row mt-2 mb-2 pb-2 text-center border-bottom'>
                            <div class="col-md-1    font-weight-bold text-info">
                                No
                            </div>
                            <div class="col-md-1   font-weight-bold text-info">
                                Reward
                            </div>
                            <div class="col-md-3   font-weight-bold text-info">
                                Name
                            </div>
                            <div class="col-md-3    font-weight-bold text-info">
                                Total / Claim / Minute
                            </div>
                            <div class="col-md-2    font-weight-bold text-info">
                                Available
                            </div>
                            <div class="col-md-2   font-weight-bold text-info">
                                Claim
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12 mb-3 pb-3">
                        <h5>FREQUENTLY ASKED QUESTIONS </h5>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading  mb-3" role="tab" id="heading0">
                                    <h6 class="panel-title">
                                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
What is crypto faucet?
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                                    <div class="panel-body px-3 mb-4">
                                        <p> This is free small amount of crypto available for claim every minute. </p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading   mb-3" role="tab" id="heading1">
                                    <h6 class="panel-title">
                                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                              How much can earn from this?
                            </a>
                                    </h6>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                    <div class="panel-body px-3 mb-4">
                                        <p>Average of faucet is give reward ~0.1 cent every minute , if you want to get more reward invite your friend to claim it , and you will get 100% from referral claimed.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading   mb-3" role="tab" id="heading2">
                                    <h6 class="panel-title">
                                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                              When I can claim it?
                            </a>
                                    </h6>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse" role="tabpane2" aria-labelledby="heading2">
                                    <div class="panel-body px-3 mb-4">
                                        <p>You can claim every minute.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading   mb-3" role="tab" id="heading3">
                                    <h6 class="panel-title">
                                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                              How to get 100% more?
                            </a>
                                    </h6>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse" role="tabpane3" aria-labelledby="heading3">
                                    <div class="panel-body px-3 mb-4">
                                        <p>Hold 1,000 BST at your accoun and every claim you get 100% bonus.</p>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>

                </div>


                <div class="row d-none">
                    <div class="col-lg-4 col-md-6" data-aos="zoom-in">
                        <div class="box">
                            <div class="icon"><a href=""><i class="fa fa-desktop"></i></a></div>
                            <h4 class="title"><a href="">Reward</a></h4>
                            <p class="description">Hold your BST at bitsten exchange platform and get daily reward from fee transaction.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6" data-aos="zoom-in">
                        <div class="box">
                            <div class="icon"><a href=""><i class="fa fa-bar-chart"></i></a></div>
                            <h4 class="title"><a href="">Farming</a></h4>
                            <p class="description">Create liquidity at Pancakeswap and deposit lp to desentralize Bitsten Finance.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6" data-aos="zoom-in">
                        <div class="box">
                            <div class="icon"><a href=""><i class="fa fa-paper-plane"></i></a></div>
                            <h4 class="title"><a href="">Affiliate</a></h4>
                            <p class="description">Invite your friend to join Bitsten Exchange and get 25% fee transaction referral.</p>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Services Section -->

        <!-- ======= Call To Action Section ======= -->
        <section class="d-none" id="call-to-action">
            <div class="container">
                <div class="row" data-aos="zoom-in">
                    <div class="col-lg-9 text-center text-lg-left">
                        <h3 class="cta-title">Call To Action</h3>
                        <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="col-lg-3 cta-btn-container text-center">
                        <a class="cta-btn align-middle" href="#">Call To Action</a>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Call To Action Section -->


        <!-- ======= Team Section ======= -->
        <section class="d-none" id="team">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h3 class="section-title">Team</h3>
                    <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="member" data-aos="fade-up" data-aos-delay="100">
                            <div class="pic"><img src="assets/img/team-1.jpg" alt=""></div>
                            <h4>Walter White</h4>
                            <span>Chief Executive Officer</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member" data-aos="fade-up" data-aos-delay="200">
                            <div class="pic"><img src="assets/img/team-2.jpg" alt=""></div>
                            <h4>Sarah Jhinson</h4>
                            <span>Product Manager</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member" data-aos="fade-up" data-aos-delay="300">
                            <div class="pic"><img src="assets/img/team-3.jpg" alt=""></div>
                            <h4>William Anderson</h4>
                            <span>CTO</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member" data-aos="fade-up" data-aos-delay="400">
                            <div class="pic"><img src="assets/img/team-4.jpg" alt=""></div>
                            <h4>Amanda Jepson</h4>
                            <span>Accountant</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Team Section -->



    </main>



    <div id='login-modal' class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Information !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
                </div>
                <div class="modal-body">
                    <p id="login_error" class="error text-info"></p>

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="location.href = 'faucet'">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div id='login-modal-detail' class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Information !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
                </div>
                <div class="modal-body">
                    <p id="login_error-detail" class="error text-info"></p>
                    <p>
                        Invite your friends to claim this faucet and get 100% bonus from they claimed.<br> <br> Your invitation Link :

                        <br> https://bitsten.com/faucet/<span id='faucet_id'>id</span>/<span id='faucet_userid'>userid</span>
                    </p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="location.href = 'faucet'">OK</button>
                </div>
            </div>
        </div>
    </div>




    <!-- End #main -->


    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- Vendor JS Files -->

    <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/counterup/counterup.min.js"></script>
    <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/superfish/superfish.min.js"></script>
    <script src="assets/vendor/hoverIntent/hoverIntent.js"></script>
    <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="assets/vendor/venobox/venobox.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

    <script>
        let ket = {};
        let ld = {};

        function claim(id) {
            $.ajaxSetup({
                headers: {
                    'Authorization': 'Bearer ' + getCookie("token")
                }
            });



            var data = {
                id: id,
                upline: getCookie("faucet_" + id)
            };

            $.post("https://api5.bitsten.com/transaction/auth/faucet/claim", data)
                .done(function(data) {
                    let nt = new Date();
                    if (data.status) {
                        setCookie("faucet_last_" + id, nt - data.data.last * 1000, 1000000);
                        $("#login_error").html("success claim " + number_format(ld[id + "t"].per_claim) + " " + ld[id + "t"].coin.toUpperCase() + "<br>You can claim again after " + ld[id + "t"].menit + " Minutes");
                        $('#login-modal').modal('show');
                    } else {
                        $("#login_error").html(data.message);
                        $('#login-modal').modal('show');
                    }
                });
        }

        function mod(id) {

            $("#faucet_userid").html($("#p_id").html().replace("U-", ""));
            $("#faucet_id").html(id);
            $("#login_error-detail").html(ket[id + "t"]);
            $('#login-modal-detail').modal('show');
        }
        $(document).ready(function() {
            $.ajaxSetup({
                headers: {
                    //  'Authorization': 'Bearer ' + getCookie("token")
                }
            });
            $.get("https://api3.bitsten.com/public/data/faucet")
                .done(function(d) {
                    // console.log(  data );
                    if (d.status) {
                        let a = 0;
                        d.data.forEach(e => {

                            let i = e.id + "t";
                            ld[i] = e;
                            ket[i] = e.ket;
                            a++;

                            $("#bst").append(`
                        <div class='row mt-1 text-center   p-2 text-primary'>
                            <div class="col-md-1 font-weight-bold ">
                                ${a}
                            </div>
                            <div class="col-md-1">
                                ${e.coin.toUpperCase()}
                            </div>


                            <div class="col-md-3">
                                ${e.judul}
                            </div>
<div class="col-md-3">
                                ${number_format(e.max_claim)} ${e.coin.toUpperCase()} / ${number_format(e.per_claim)} ${e.coin.toUpperCase()} / ${number_format(e.menit,0)}
                            </div>
                            <div class="col-md-2">
                                ${number_format(e.max_claim - e.claimed)} ${e.coin.toUpperCase()}
                            </div>

                            <div class="col-md-2  ">
                                <button class='btn btn-sm btn-warning rounded-0' onCLick='mod(${e.id})'>DETAIL</button>
                                <button class='btn btn-sm btn-success rounded-0' onCLick='claim(${e.id})'>CLAIM</button>
                            </div>
                        </div>`);
                        })
                    }

                });
        })
    </script>