<% layout('../layouts/app') -%>


    <div class='col-12' style='min-height:700px'>
        <div class='row'>
            <div class="col-12 mt-5 pb-5 border-bottom">
                <h2 class='text-center'>Bitsten Finance</h2>
                <h5 class='text-center'>
                    Decentralize Farming with High return ( APR )
                </h5>
            </div>
        </div>

        <div class='row d-flex justify-content-center pt-3 '>
            <div class="col-12  col-md-6 mt-5 pb-3 text-center ">
                <a href="https://bitsten.finance"><button class='btn btn-primary btn-sm rounded-0'>Go to Bitsten.finance DAPP</button></a>
                <br><br> Metamask required to open bitsten.finance , or open bitsten.finance from trustwallet Dapp.
            </div>
        </div>





    </div>

    <script>
        var SOCKET_URL = 'swap';
    </script>