<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title -%>
    </title>
    <link rel="shortcut icon" href='https://f1.bitsten.com/assets/images/icon_bitsten.png' />
</head>

<body class='bg-primary'>

    <% include ../partials/css -%>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>

        <div class="vh-100 d-flex justify-content-center">

            <div class="form-access my-auto">


                <div class='p-3 pt-5 pb-5  bg-white shadow' style='width:350px;max-width:98%'>

                    <div class="col-12 text-center p-3 mb-4">
                        <a href="/"><img src='https://f1.bitsten.com/assets/images/logo_bitsten_terang.png' width="150px" /></a>
                    </div>

                    <div class="form-group">
                        <input type="email" autocomplete="new-password" id="email" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" autocomplete="new-password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group d-none">
                        <input type="np" id="np" autocomplete="new-password" class="form-control" placeholder="Password">
                    </div>


                    <div class='mb-3 d-flex justify-content-center'>
                        <div class="g-recaptcha" data-sitekey="6Lep-2IUAAAAAPph1P4BE-DVhIK2zFZrKxJMwv7m"></div>
                    </div>

                    <button class="btn btn-primary" onClick="login()">Sign In</button>
                    <div class="text-right mt-3">
                        <a href="resetpassword">Forgot Password?</a>
                    </div>
                </div>


                <h2>Don't have an account? <a class='text-white' href="register">Sign up here</a></h2>
            </div>
        </div>


        <div id='login-modal' class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Warning !</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                    </div>
                    <div class="modal-body">
                        <p id="login_error" class="error text-danger"></p>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var SOCKET_URL = 'login';
        </script>

        <script src="assets/js/jquery-3.4.1.min.js"></script>
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>

        <script src="assets/js/transactions.js"></script>
        <script src="assets/js/custom.js"></script>
</body>

</html>