<% layout('../layouts/app') -%>
  

  <div class="markets ptb70">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="markets-container">
            <div class="markets-content">
              <h2>BTC Index</h2>
              <p class='price-btc_usdt'>0</p>
              <span class="green"> + 0%</span>
            </div>
            <div class="markets-chart">
              <div id="marketsChartBtcLight"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="markets-container">
            <div class="markets-content">
              <h2>ETH Index</h2>
              <p class='price-eth_usdt'>0</p>
              <span class="red"> - 0%</span>
            </div>
            <div class="markets-chart">
              <div id="marketsChartEthLight"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="markets-container">
            <div class="markets-content">
              <h2>LTC Index</h2>
              <p class='price-ltc_usdt'>0</p>
              <span class="green"> + 0%</span>
            </div>
            <div class="markets-chart">
              <div id="marketsChartLtcLight"></div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="markets-pair-list">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#STAR"  onclick = 'show("start")'  role="tab" aria-selected="true"><i
                    class="icon ion-md-star"></i> Favorites</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#BST" onclick = 'show("bst")' role="tab" aria-selected="true">BST</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#USDT" onclick = 'show("usdt")'  role="tab" aria-selected="false">USDT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#IDRT" onclick = 'show("idrt")'  role="tab" aria-selected="true">IDRT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#ALT" onclick = 'show("alt")'  role="tab" aria-selected="true">ALT</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade show active"  role="tabpanel">
                <table class="table" id='all_markets_table'>
                  <thead>
                    <tr>
                      <th>Pairs</th>
                      <th class=" hide-xs ">Coin</th>
                      <th>Last Price</th>
                      <th>Change (24H)</th>
                      <th class="  hide-xs  ">High (24H)</th>
                      <th class="  hide-xs ">Low (24h)</th>
                      <th class="   ">Volume (24h)</th>
                    </tr>
                  </thead>
                  <tbody id='all_market'>


                    <tr id = 'load-markets' class=' '>
                    <td style='height: 100px !important;' class='text-center ' colspan="6"><img src="http://f1.bitsten.com/assets/images/loading.gif" style="width:100px !important"></td>
                    </tr>

                    <!--
                    <tr data-href="exchange-light.html">
                      <td><i class="icon ion-md-star"></i> ETH/BTC</td>
                      <td><img src="assets/img/icon/1.png" alt="eth"> ETH</td>
                      <td>7394.06</td>
                      <td class="green">+0.78%</td>
                      <td>7444.91</td>
                      <td>7267.06</td>
                      <td>431,687,258.77</td>
                    </tr>
                    <tr data-href="exchange-light.html">
                      <td><i class="icon ion-md-star"></i> EOS/BTC</td>
                      <td><img src="assets/img/icon/2.png" alt="vid"> EOS</td>
                      <td>6984.06</td>
                      <td class="red">-1.65%</td>
                      <td>6554.91</td>
                      <td>6548.06</td>
                      <td>431,684,298.45</td>
                    </tr> 
                    -->
                  </tbody>
                </table>
              </div> 
            </div>
            <div class="text-center d-none">
              <a href="#" class="load-more btn">Load More <i class="icon ion-md-arrow-down"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
</body>

</html>



<script>
  var SOCKET_URL = 'market';
</script>