<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bitsten Register</title>
 
  <link rel="shortcut icon" href='https://f1.bitsten.com/assets/images/icon_bitsten.png' />

  
</head>

<body>
  <% include ../partials/css -%>

  <div class="vh-100 d-flex justify-content-center">
 
    <div class="form-access my-auto">
      <form>
        <div class ="col-12 text-center p-3 mb-4">
          <a href="/"><img src='https://f1.bitsten.com/assets/images/logo_bitsten_terang.png' width="150px"/></a>
          </div>
        
        <div class="form-group">
          <input type="text"       autocomplete="off" 
   readonly  
onfocus="this.removeAttribute('readonly');" onfocusout="this.addAttribute('readonly');"   class="form-control" placeholder="Username">
        </div>
       
        <div class="form-group">
          <input type="email" class="form-control"  autocomplete="off" 
          readonly  
       onfocus="this.removeAttribute('readonly');" placeholder="Email Address">
        </div>
        <div class="form-group">
          <input type="password"       autocomplete="off" 
   readonly  
onfocus="this.removeAttribute('readonly');" onfocusout="this.addAttribute('readonly');"   class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
          <input type="password"       autocomplete="off" 
   readonly  
onfocus="this.removeAttribute('readonly');" onfocusout="this.addAttribute('readonly');"   class="form-control" placeholder="Confirm Password">
        </div>
        <div class="form-group">
        <div class="input-group mb-2">
                           
          <input class=" form-control "        autocomplete="off" 
   readonly  
onfocus="this.removeAttribute('readonly');" onfocusout="this.addAttribute('readonly');"   type="text" id="code"  placeholder="Email Code" >
           <div class="input-group-append">
            <span class="input-group-text input-success" style="cursor:pointer" onclick="copy()">Get Code</span>     
            </div>
       </div>
       </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="form-checkbox">
          <label class="custom-control-label" for="form-checkbox">I agree to the <a href="#!">Terms &
              Conditions</a></label>
        </div>
        <button type="submit" class="btn btn-primary">Create Account</button>
      </form>
      <h2>Already have an account? <a href="login">Login in here</a></h2>
    </div>
  </div>

  <script>
    var SOCKET_URL = 'register';
  </script>

  <script src="assets/js/jquery-3.4.1.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/amcharts-core.min.js"></script>
  <script src="assets/js/amcharts.min.js"></script>
  <script src="assets/js/custom.js"></script>
</body>

</html>