<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title -%>
    </title>

    <link rel="shortcut icon" href='https://f1.bitsten.com/assets/images/icon_bitsten.png' />
</head>

<body class='bg-primary'>
    <% include ../partials/css -%>

        <div class="vh-100 d-flex justify-content-center">
            <div class="form-access my-auto">
                <div class='p-3 pt-5 pb-5 bg-white  shadow' style='width:350px;max-width:98%'>
                    <div class="col-12 text-center p-3 mb-4">
                        <a href="/"><img src='https://f1.bitsten.com/assets/images/logo_bitsten_terang.png' width="150px" /></a>
                    </div>
                    <div class="form-group">
                        <input type="email" id='email' class="form-control" autocomplete="off" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" class="form-control" autocomplete="new-password" placeholder="New Password">
                    </div>
                    <div class="form-group">
                        <input type="password" id="c_password" class="form-control" autocomplete="off" placeholder="New Confirm Password">
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-2">

                            <input class=" form-control" autocomplete="off" type="text" id="email_code" placeholder="Email Code">
                            <div class="input-group-append">
                                <span class="input-group-text  bg-warning input-success" style="cursor:pointer" onclick="get_code_reset()">Get Code</span>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary" onclick="resetpassword()">Reset Password</button>
                </div>
                <h2>Remembered your password? <a class='text-white' href="login">Sign in here</a></h2>
            </div>
        </div>


        <div id='login-modal' class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Warning !</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                    </div>
                    <div class="modal-body">
                        <p id="login_error" class="error text-danger"></p>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div id='login-modal-s' class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Warning !</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                    </div>
                    <div class="modal-body">
                        <p id="login_success" class="error text-success"></p>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="assets/js/jquery-3.4.1.min.js"></script>
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/transactions.js"></script>
        <script src="assets/js/custom.js"></script>
</body>

</html>