 
 
<% layout('../layouts/app') -%>
  <style>
    .nav-pills .nav-link.active, .nav-pills  .nav-link {
    width: 100%;
    }
  </style>
  <div class="settings mtb15">
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-md-12 ">
          <div class="tab-content" id="v-pills-tabContent">
            
            <div class="tab-pane fade show active" id="settings-wallet" role="tabpanel"
              aria-labelledby="settings-wallet-tab">
              <div class="wallet">
                <div class="row">

                  <div class="col-md-12 col-lg-4">
                    
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <button type="button" class="btn btn-outline-secondary">Action</button>
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Hide Zero Blance</a>
                          <a class="dropdown-item" href="#">Hide Disable Deposit</a>
                          <a class="dropdown-item" href="#">Show All</a>
                        
                        </div>
                      </div>
                      <input type="text" class="form-control text-center" aria-label="" placeholder="Search Coin / Token">
                    </div>

                    <div id="list_assets" class="nav    nav-pills" role="tablist" aria-orientation="vertical" style='height: 600px; overflow-x:auto'>
                     
                      <div id = 'load-assets' class='text-center col-12'>
                        <div   class='text-center col-12  pb-5'  style="padding-top:150px" ><img src="http://f1.bitsten.com/assets/images/loading.gif" style="width:150px !important;height: 100px !important;"></div>
                      </div>
                      
                     
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-8">
                    <div class="tab-content">
                      <div class="tab-pane fade show active" id="coinBTC" role="tabpanel">

                        <div class="btn-group btn-group-toggle col-12" data-toggle="buttons">
                          <label class="btn btn-success active" onClick="$('.card').hide();$('#deposit').show()">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked > Deposit
                          </label>
                          <label class="btn btn-warning" onClick="$('.card').hide();$('#withdraw').show()">
                            <input type="radio" name="options" id="option2" autocomplete="off" onClick="$('.card').hide();$('#withdraw').show()"> Withdraw
                          </label>
                          <label class="btn btn-info" onClick="$('.card').hide();$('#history').show()">
                            <input type="radio" name="options" id="option3" autocomplete="off" > History
                          </label>
                        </div>
                       
                           
                        <div class="card" id="deposit">
                          <div class="card-body">
                            <h5 class="card-title">Wallet Deposit Address</h5>
                            <div class="row wallet-address">
                              <div class="col-md-8">
                                <p>Deposits to this address are unlimited. Note that you may not be able to withdraw all
                                  of your
                                  funds at once if you deposit more than your daily withdrawal limit.</p>
                                <div class="input-group">
                                  <input type="text" class="form-control text-center deposit_address " value="---">
                                  <div class="input-group-prepend">
                                    <button class="btn btn-primary">COPY</button>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4 text-center" style=''>
                                <div class="" id = "qrcode" style='margin:10px auto;width:170px'>
                              
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                           
                        <div class="card" id="withdraw" style='display: none;'>
                          <div class="card-body">
                            <h5 class="card-title">Withdraw</h5>
                            <div class="row wallet-address">
                              <div class="col-md-8">
                                <p>Deposits to this address are unlimited. Note that you may not be able to withdraw all
                                  of your
                                  funds at once if you deposit more than your daily withdrawal limit.</p>
                                <div class="input-group">
                                  <input type="text" class="form-control text-center" value="---">
                                  <div class="input-group-prepend">
                                    <button class="btn btn-primary">COPY</button>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <img src="assets/img/qr-code-dark.svg" alt="qr-code">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card  " id="history" style='display:none'>
                          <div class="card-body">
                            <h5 class="card-title">Latest Transactions</h5>
                            <div class="wallet-history">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>No.</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Amount</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>1</td>
                                    <td>25-04-2019</td>
                                    <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                    <td>4.5454334</td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>25-05-2019</td>
                                    <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                    <td>0.5484468</td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>25-06-2019</td>
                                    <td><i class="icon ion-md-close-circle-outline red"></i></td>
                                    <td>2.5454545</td>
                                  </tr>
                                  <tr>
                                    <td>4</td>
                                    <td>25-07-2019</td>
                                    <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                    <td>1.45894147</td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>25-08-2019</td>
                                    <td><i class="icon ion-md-close-circle-outline red"></i></td>
                                    <td>2.5454545</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                   
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
 

  <script>
    var SOCKET_URL = 'wallet';
  </script>
  